*, *::before, *::after { box-sizing: border-box; }
html, body, #root {
  margin: 0; padding: 0;
  min-height: 100%;
  font-family: 'Varela Round', sans-serif;
  direction: rtl;
  background: #05050f;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}
input, button, textarea { font-family: inherit; }
input[type=number]::-webkit-inner-spin-button { opacity: 1; }
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-thumb { background: #ffffff22; border-radius: 3px; }
